.slide-container {
    /*width: auto;*/
    float: left;
    /*height: 100%;*/
    -webkit-transition: transform .7s ease-in;
    -moz-transition: transform .7s ease-in;
    -o-transition: transform .7s ease-in;
    transition: transform .7s ease-in;
}

.slide-container img {
    width: 100%;
}
