:host {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: inline-table;
  overflow: hidden;
  flex: 1;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;

  &.delay {
    -webkit-transition: transform .7s ease-in-out;
    -moz-transition: transform .7s ease-in-out;
    -o-transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out
  }

  img {
    width: 100%;
  }

  .image-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
  }

}






